<div class="karta-clanku">
    <img src="nahled.png" alt="Název článku">
    <div class="karta-textace">
        <h2>Název článku</h2>
        <p>Krátký výtah z článku...</p>
        <p>
            <a href="">Přečíst</a>
        </p>
    </div>
</div>