@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --zakladni-velikost-pisma: 16px;
    --druh-pisma: 'Inter', sans-serif;

    --pozadi-aplikace: #F4F4F4;
    --pozadi-navigace: rgba(0, 0, 0, 0.9);
    --pozadi-zapati: #212121;
    --pozadi-elementu: #FFFFFF;
    --pozadi-tlacitek: #000000;
    --pozadi-zprava-uspech: #337D19;
    --pozadi-zprava-chyba: #8A1C1C;

    --barva-pisma-primarni: #000000;
    --barva-pisma-sekundarni: #FFFFFF;
    --barva-pisma-seda: #6F6F6F;

    --vrzeny-stin: rgba(0, 0, 0, 0.25);
    --ramecek-inputy: #343434;
}

html {
    font-size: var(--zakladni-velikost-pisma);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--pozadi-aplikace);

    height: 2500px;
}

body, input, button {
    font-family: var(--druh-pisma);
    font-size: 1.125rem;
}

img {
    max-width: 100%;
}

form {
    display: flex;
    flex-direction: column;

    label {
        margin-top: 1.875rem;
        margin-bottom: 1rem;

        &:first-of-type {
            margin-top: 0;
        }
    }

    input {
        width: 29.75rem;
        padding: 0.875rem;
        border: 1px solid var(--ramecek-inputy);
    }

    input[type="submit"] {
        border: none;
        background-color: var(--pozadi-tlacitek);
        color: var(--barva-pisma-sekundarni);
        font-weight: 600;

        margin-top: 1.875rem;
    }
}

.karta-clanku {
    background-color: var(--pozadi-elementu);

    width: 37.5rem;
    max-width: 100%;

    display: flex;
    gap: 1.25rem;

    > img {
        width: 38%;
    }

    .karta-textace {
        padding: 1.875rem;
        padding-left: 0;
    }
}