{% extends 'base.html.twig' %}

{% block body %}
    {% include 'components/public/header.html.twig' %}
    
    <main class="vypis-clanku">
        {% for post in posts %}
            {% include 'components/public/post_card.html.twig' %}
        {% endfor %}
    </main>

    {% include 'components/public/footer.html.twig' %}
{% endblock %}
